DATABASE_URL=postgres://username:password@localhost:5432/tickertrends
PORT=3000
CRON_SCHEDULE=* * * * *
MUCKRACK_API_URL=https://muckrack.com/trends/report/data/
MUCKRACK_API_TERMS="crocs"
MUCKRACK_API_DATE_RANGE_START=2020-02-24
MUCKRACK_API_DATE_RANGE_END=2025-02-24